* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
  width: 1280;
  height: 768;
}

body {
  color: #000;
  background: #adadad;
}

.container {
  display: flex;
  justify-content: space-around;
  /* justify-self: center;
  align-content: center; */
  width: 100%;
  height: 100%;
}
/* header */
.container-header {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 1%;
}

.container-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  width: 100%;
  margin: 1%;
}

.container-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-rows: 1fr 1fr 1fr;

  gap: 10px;
  /* grid-auto-columns: 10em; */

  min-height: 42em;
  max-height: 46em;
}

.container-orders {
  box-shadow: 0.0314em 0.0314em;

  border-radius: 1em;
}

.orders {
  height: 12rem;

  overflow: hidden;
  scroll-behavior: smooth;

  /* overscroll-behavior-y: contain;
  scroll-snap-type: proximity;

  scroll-behavior: smooth;

  scroll-snap-align: end; */
}

.container-orders-footer {
  min-height: 10em;
  max-height: 20em;
  box-shadow: 0.0314em 0.0314em;
  border-radius: 1em;
}

p {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0.3em;
}

ul {
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  margin-left: 1em;
  margin-top: 0.5em;
}

/* SPANs OS */
.span-os {
  font-weight: bold;
}

.span-prefixo {
  margin-left: 0.5em;
}
.span-dt_aber {
  margin-left: 0.5em;
}
.span-defeito {
  margin-left: 1em;
}

/* CSS Order group color */
#BOR {
  background: #e1da25;
  /* max-height: 100%; */
  /* padding: 3px; */
}
#ELE {
  background: #2ecd34;
}
#FUN {
  background: #ee991a;
}
#LUB {
  background: #1aeebb;
}
#MEC {
  background: #ee3107;
}
#TAP {
  background: #d259f0;
}
#RET {
  background: #fff;
  margin-top: 0.5em;
}
